<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NutriAI Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>

<div class="login-container">

    <div class="logo">
        🥗
    </div>

    <h1>NutriAI</h1>
    <p>AI Powered Diet Recommendation System</p>

    <form action="/login" method="POST">

        <div class="input-group">
            <i class="fa-solid fa-user"></i>
            <input type="text" name="username" placeholder="Username" required>
        </div>

        <div class="input-group">
            <i class="fa-solid fa-lock"></i>
            <input type="password" name="password" placeholder="Password" required>
        </div>

        <button type="submit">Login</button>

    </form>

    <div class="footer">
        © 2026 NutriAI
    </div>

</div>

</body>
</html>